:root {
  /* light mode */
  --primary: #14a316;
  --light-accent: #15bd18;
  --dark-accent: #0f7a10;
  --red: #ff0000;
  --background: white;
  --light-background: #cdcac7;
  --font-color: black;
  --light-font: hsla(0,0%,0%,0.5);
  --box-shadow: #d9d9d9;
}

.glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.fontdarker {
  color: var(--light-font)
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode */
    --primary: #0ced6a;
    --light-accent: #68d696;
    --dark-accent: #08a449;
    --red: #ff0000;
    --background: #121212;
    --light-background: #2b2a2a;
    --font-color: white;
    --light-font: #808080;
  }
  .glass {
    background: rgba( 18, 18, 18, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 135, 43, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  }
}

body {
  color: var(--font-color);
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  font-size: 118.75%;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button,input[type=submit] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--font-color);
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: 0.2s;
  font-size: 17px;
}

button:hover,input[type=submit]:hover {
  border-color: var(--dark-accent);
}