:root {
  /* light mode */
  --font-color: black;
  --background: white;
  --light-background: #cdcac7;
  --primary: #14a316;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode */
    --font-color: white;
    --background: #121212;
    --light-background: #2b2a2a;
    --primary: #0ced6a;
  }
}

body {
  color: var(--font-color);
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
